/Aula06/nbproject/private/
/Aula06/build/
/Aula07/nbproject/private/
/Aula07/build/
/Aula08/nbproject/private/
/Aula08/build/
/Aula9b/nbproject/private/
/Aula9b/build/
/10b/nbproject/private/
/Aula10b/nbproject/private/
/Aula10b/build/
/Aula11b/nbproject/private/
/Aula11b/build/
/Aula11b/dist/
/Aula12b/nbproject/private/
/Aula12b/build/
/Aula13b/nbproject/private/
/Aula13b/build/
/Aula13b/dist/
/Aula14b/nbproject/private/
/Aula14b/build/
/Aula15b/nbproject/private/
/Aula15b/build/
/Aula15b/dist/